<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dash Pictures Terms of Service</title>
    <style>
        body,
        html {
            width: 100%;
            font-family: "Helvetica Neue", sans-serif;
            line-height: 1.5;
        }

        body > div {
            display: flex;
            justify-content: center;
        }

        ul {
            list-style-type: decimal;
        }
    </style>
</head>
<body>
<div>
    <div>
        <h2>Dash Pictures Terms of Service</h2>
        <p>
        <ul>
            <li>Application does not store or change any images</li>
            <li>Application uses cookies for authorization</li>
            <li>Application stores user information from Pinterest such as:
                username, boards and pins with public access
            </li>
            <li>User's data will be used only to create sequence of pins from selected boards and to provide
                authorization
            </li>
            <li>Application does not change any user data on Pinterest</li>
            <li>User's data will not be shared with any 3rd party subject</li>
            <li>Application follows Pinterest's <a href="https://developers.pinterest.com/terms/" target="_blank">terms</a> and <a
                    href="https://policy.pinterest.com/en/developer-guidelines" target="_blank">policies</a>
            </li>
            <li>
                Application is directed at human beings older than 13 years
            </li>
        </ul>
        </p>
        <p>
            If you think that the application is violating something like terms or policies or anything else, let me know on
            <a href="https://github.com/aq1/DashPictures">my github page</a>
        </p>
    </div>
</div>
</body>
</html>
