[Unit]
Description=uWSGI app
After=syslog.target

[Service]
#ExecStart=/_projects/DashPictures/.env/bin/uwsgi --ini /_projects/DashPictures/project/configs/uwsgi.ini
ExecStart=/_projects/DashPictures/.env/bin/python /_projects/DashPictures/manage.py runserver 0.0.0.0:80
User=nginx
Group=nginx
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
